<p>
    <button type="button" class="btn btn-info" onclick="window.location.href = 'meu-perfil/fisico'">Cliente Físico</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href = 'meu-perfil/juridico'">Cliente Jurídico</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = 'meu-perfil/funcionario'">Funcionário</button>
</p>
<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>