<div class="row">
    <div class="col-sm-12">
        <!-- Basic Form Inputs card start -->
        <app-card [title]="'Funcionário'">
            <!-- [title]="'Basic Form Inputs'" -->
            <!-- <h4 class="sub-title">Cadastrar Cliente</h4> -->
            <form>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <img id="prof_pic" src="../../../assets/images/ney.jpg" alt="Foto Perfil" />
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Matrícula</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Nome Completo</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group col-lg-12">
                            <label class="control-label">CPF</label>
                            <input id="cpf" type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">RG</label>
                            <input id="rg" type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Cargo</label>
                            <input id="rg" type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Permissões</label>
                            <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true"></ng-select>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Grupos</label>
                            <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true"></ng-select>
                        </div>
                    </div>
                </div>
                <!-- Fim parte de cima -->
                <div class="form-group row">
                    <div class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Email</label>
                            <input type="email" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Telefone</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Celular</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Cidade/Estado</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Logradouro</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Bairro</label>
                            <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="control-label">Número</label>
                                    <input type="number" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="control-label">CEP</label>
                                    <input type="text" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">
                            <app-card [title]="'Localização'" [classHeader]="true">
                                <agm-map [latitude]="21.6776887" [longitude]="71.566261" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                                    <agm-marker [latitude]="21.6776887" [longitude]="71.566261">
                                        <agm-info-window> Aqui</agm-info-window>
                                    </agm-marker>
                                </agm-map>
                            </app-card>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>
        <!-- Parte 2 -->
        <app-card [title]="'Dados de Acesso'">
            <form action="">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Email </label>
                            <div class="input-group">
                                <span class="input-group-prepend"> <i class="input-group-text fa fa-envelope"></i></span> <input type="email" placeholder="Email" class="form-control" readonly> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="text-center col-lg-12">
                            <button class="btn btn-primary" (click)="switchSenha('alterar')">Alterar Senha</button>
                        </div>
                    </div>
                    <div *ngIf="tipu == 'alterar'" class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Senha atual *</label>
                            <input id="password" type="password" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label"> Senha Nova </label>

                            <div class="input-group">
                                <span class="input-group-prepend"> <i class="input-group-text fa fa-key"></i></span> <input id="confirm_password" type="password" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tipu == 'alterar'" class="col-lg-4">
                        <div class="form-group col-lg-12">
                            <label class="control-label"> Repetir Senha Nova </label>

                            <div class="input-group">
                                <span class="input-group-prepend"> <i class="input-group-text fa fa-key"></i></span> <input id="confirm_password" type="password" placeholder="" class="form-control" readonly> <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-inverse" (click)="cancelar()">Cancelar</button>
                        <button class="btn btn-primary" (click)="submeter()">Salvar</button>
                    </div>
                </div>
            </form>

        </app-card>
    </div>
</div>
<script>
    $(document).on('change', '.btn-file :file', function() {
        var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = label;

        if (input.length) {
            input.val(log);
        } else {
            if (log) alert(log);
        }

    });
</script>
<style>
    #profile_img {
        width: 100%
    }
    
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    
    #img-upload {
        width: 100%;
    }
    
    #prof_pic {
        width: 177px;
        height: 236px;
        margin-bottom: 20px;
    }
</style>