<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>
<app-card [title]="'Adicionar localidade'" [classHeader]="true">
    <div class="row">
        <div class="form-group col-lg-3">
            <label class="control-label">Nome</label>
            <input type="text" placeholder="" class="form-control" required> <span class="help-block m-b-none"></span>
        </div>
        <div class="form-group col-lg-3">
            <label class="control-label">Vínculo</label>
            <input type="text" placeholder="" class="form-control" required> <span class="help-block m-b-none"></span>
        </div>
        <div class="form-group col-lg-2">
            <label class="control-label">Latitude</label>
            <input type="number" placeholder="" class="form-control" required> <span class="help-block m-b-none"></span>
        </div>
        <div class="form-group col-lg-2">
            <label class="control-label">Longitude</label>
            <input type="number" placeholder="" class="form-control" required> <span class="help-block m-b-none"></span>
        </div>
        <div class="form-group col-lg-2">
            <label class="control-label">Raio</label>
            <input type="number" placeholder="" class="form-control" required> <span class="help-block m-b-none"></span>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-inverse" (click)="cancelar()">Cancelar</button>
                <button class="btn btn-primary" (click)="adicionar()">Adicionar</button>
            </div>
        </div>
    </div>
</app-card>
<app-card [title]="'Localidades cadastradas'" [classHeader]="true">
    <div class="row">
        <div class="col-sm-12">
            <label class="label-control">Exibir 
                    <select class="form-control input-sm m-l-8 full-data-show-entry input-round" [(ngModel)]="rowsOnPage">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select>
                     itens
                  </label>
            <label class="form-inline f-right">
            <div class="form-group">
              <label class="label-control">Filtrar por Nome:
              <input
                type='text'
                class="form-control input-sm m-l-10 input-round"
                placeholder=''
                (keyup)='updateFilter($event)'
              />
              </label>
        </div>
        </label>

    </div>
    <div class="col-sm-12">
        <ngx-datatable #myTable class="data-table expandable text-center" [rows]='rowsFilter' [(limit)]="rowsOnPage" [columnMode]="'force'" [scrollbarH]="false" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" (page)="onPage($event)">
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="dt-desc">
                        <table class="table-striped table-bordered">
                            <!-- <tr>
                                <th colspan="2"><strong>Address</strong></th>
                            </tr> -->
                            <tr>
                                <td>{{row.details.id_0}}</td>
                                <td>{{row.details.name_0}}</td>
                                <td>{{row.details.vinculo_0}}</td>
                                <td><i class="ti ti-world azul"></i></td>
                                <td><i class="ti ti-plus azul"></i></td>
                                <td><i class="ti ti-pencil-alt azul"></i></td>
                                <td><i class="ti ti-trash vermelho"></i></td>
                            </tr>
                            <tr>
                                <td>{{row.details.id_1}}</td>
                                <td>{{row.details.name_1}}</td>
                                <td>{{row.details.vinculo_1}}</td>
                                <td><i class="ti ti-world azul"></i></td>
                                <td><i class="ti ti-plus azul"></i></td>
                                <td><i class="ti ti-pencil-alt azul"></i></td>
                                <td><i class="ti ti-trash vermelho"></i></td>
                            </tr>
                            <tr>
                                <td>{{row.details.id_2}}</td>
                                <td>{{row.details.name_2}}</td>
                                <td>{{row.details.vinculo_2}}</td>
                                <td><i class="ti ti-world azul"></i></td>
                                <td><i class="ti ti-plus azul"></i></td>
                                <td><i class="ti ti-pencil-alt azul"></i></td>
                                <td><i class="ti ti-trash vermelho"></i></td>
                            </tr>
                        </table>
                    </div>

                </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="" ngx-datatable-cell-template>
                    <a href="javascript:;" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ID" prop="id">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row['id']}}</strong>
                </ng-template> -->
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Expanded">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <strong>{{expanded === 1}}</strong>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Nome" prop="name">
                <!-- <ng-template let-value="value" ngx-datatable-cell-template>
                    <strong>{{value}}</strong>
                </ng-template> -->
            </ngx-datatable-column>
            <ngx-datatable-column name="Vínculo" prop="link">
                <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <i [innerHTML]="row['name']"></i> and <i>{{value}}</i>
                </ng-template> -->
            </ngx-datatable-column>

            <ngx-datatable-column name="Localização (raio)" [sortable]="false">
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <a (click)="console.log('localização')" data-toggle="tooltip" title="Excluir"><i class="ti ti-world azul"></i></a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Adicionar Subnível" [sortable]="false">
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <a (click)="console.log('adicionar')" data-toggle="tooltip" title="Excluir"><i class="ti ti-plus azul"></i></a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Editar" [sortable]="false">
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <a (click)="console.log('editar')" data-toggle="tooltip" title="Excluir"><i class="ti ti-pencil-alt azul"></i></a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Excluir" [sortable]="false">
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <a (click)="remover(row,value,rowIndex)" data-toggle="tooltip" title="Excluir"><i class="ti ti-trash vermelho"></i></a>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
    </div>

</app-card>