.verde {
    color: #2ecc71;
    border-color: #2ecc71;
    cursor: pointer;
    font-size: 20px;
}

.vermelho {
    color: #e74c3c;
    border-color: #e74c3c;
    cursor: pointer;
    font-size: 20px;
}

.azul {
    color: #34495e;
    border-color: #34495e;
    cursor: pointer;
    font-size: 20px;
}

.input-round {
    border-radius: 2rem;
}