<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>
<app-card [title]="'Localização'" [classHeader]="true">
    <div class="row">
        <div class="col-lg-8">
            <b style="display:false"></b>
        </div>
        <div class="col-lg-4">
            <select class="form-control selectpicker dropup form-control-info" id="sel1" required title="Pesquisa" data-size="3">
              <option disabled selected>Pesquisa</option>
            <option>1 </option>
            <option>2 </option>
            <option>3</option>
</select>
            <br/>
        </div>
    </div>
    <div class="col-lg-12">
        <agm-map [latitude]="21.6776887" [longitude]="71.566261" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
            <agm-marker [latitude]="21.6776887" [longitude]="71.566261">
                <agm-info-window> Aqui</agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
</app-card>