<div class="row">
    <div class="col-sm-12">
        <app-card [title]="''" [classHeader]="true" [blockClass]="'icon-btn'">
            <div class="row">
                <div class="col-sm-12">
                    <label class="label-control">Exibir 
                        <select class="form-control input-sm m-l-8 full-data-show-entry input-round" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                         itens
                      </label>
                    <!-- 
                    <button class="btn btn-round btn-danger btn-sm" style="margin-left: 10px;margin-right: 10px;"><i class="ti ti-trash"></i> Excluir itens</button>
                    <button class="btn btn-round btn-inverse btn-sm"><i class="ti ti-download"></i> Download</button> -->
                    <label class="form-inline f-right">
                <div class="form-group">
                  <label class="label-control">Filtrar por Nome:
                  <input
                    type='text'
                    class="form-control input-sm m-l-10 input-round"
                    placeholder=''
                    (keyup)='updateFilter($event)'
                  />
                  </label>
                </div>
                </label>

            </div>
    </div>
    <ngx-datatable class="data-table text-center" [rows]='rowsFilter' [(limit)]="rowsOnPage" [columnMode]="'force'" [scrollbarH]="false" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" (page)="onPage($event)" (activate)="onActivate($event)">
        <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                    <label>
                              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            </label>
                </div>

            </ng-template>
            <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                    <label>
                              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            </label>
                </div>
            </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="Nome" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="Qtd. de Permissões" prop="permissions"></ngx-datatable-column>
        <ngx-datatable-column name="Qtd. de Funcionários" prop="employers"></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="status">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <i *ngIf="value == 'ativo'" class="fa fa-circle verde" data-toggle="tooltip" title="Ativo"></i>
                <i *ngIf="value == 'inativo'" class="fa fa-circle vermelho" data-toggle="tooltip" title="Inativo"></i>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Visualizar" [sortable]="false">
            <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <a (click)="details(row,value,rowIndex)" data-toggle="tooltip" title="Visualizar"><i class="icofont icofont-eye-alt azul"></i></a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Excluir" [sortable]="false">
            <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <a (click)="remover(row,value,rowIndex)" data-toggle="tooltip" title="Excluir"><i class="ti ti-trash vermelho"></i></a>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <!-- <div class="row">
        <div class='col-sm-12 selected-column'>
            <h4 class="sub-title p-t-15">Itens selecionados</h4>
            <span *ngFor='let sel of selected'>
                      <label class="label label-primary">{{sel.name}}</label>
                    </span>
            <span *ngIf="!selected.length">Nenhum item selecionado</span>
        </div>
    </div> -->
    </app-card>
</div>
</div>