<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>
<div class="row">
    <div class="col-lg-4">
        <app-card [title]="'Teste'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
            lista
        </app-card>
    </div>
    <div class="col-lg-4">
        <app-card [title]="'Teste'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
            lista
        </app-card>
    </div>
    <div class="col-lg-4">
        <app-card [title]="'Teste'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
            lista
        </app-card>
    </div>
</div>